.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.Header{
  background-image: url(./assets/img/delicious-pizza-slice-stockcake.jpg);
  width: 100vw;
  height: 300px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

